version: "2"

services:

  mariadb:
    restart: always

  php:
    restart: always
    environment:
      PHP_SENDMAIL_PATH: /usr/sbin/sendmail -t -i

  nginx:
    ports:
      - "80:80"
    restart: always
  
  pma:
    restart: always

  mailhog:
    restart: always
