<div>
    <label>{{ entity.name.value }}</label>
    <p>
    {% if entity.field_html_report_path is empty %}
        No test report found.
    {% else %}
        {# @todo: this is for testing only, proper way needed for serving this page for opening #}
        <a href="" target="_blank">Latest HTML Report</a>

        <br /> Latest report:
        <br/>
        {{ entity.field_html_report_path.value }}
    {% endif %}
    </p>
</div>