<div class="muh-custom-class">
    <label>{{ entity.name.value }}</label>
    <p>
    {% if entity.field_html_report_path is empty %}
        No test report found.
    {% else %}
        <a href="{{ entity.field_html_report_path.value }}">Latest HTML Report</a>
    {% endif %}
    </p>
</div>