<div>
    <label>{{ entity.name.value }}</label>
    <p>
    {% if entity.field_html_report_path is empty %}
        No test report found.
    {% else %}
        {# @todo: this is for testing only, proper way needed for serving this page for opening #}
        <a href="{{ html_report_url }}" target="_blank">Latest HTML Report</a>
    {% endif %}
    </p>
</div>