<div>
    <label>Name: </label> {{ entity.name.value }}
    <br />
    <p>The current status of the test is <b>{{ queue_status }}</b></p>
    <br />
    <p>
    {% if entity.field_html_report_path is empty or not result_exist %}
        No test report found.
    {% else %}
        {# @todo: this is for testing only, proper way needed for serving this page for opening #}
        <a href="{{ html_report_url }}" target="_blank">HTML Report {% if report_time %}from {{ report_time }}{% endif %}</a>
    {% endif %}
    </p>
</div>
